fastapi
uvicorn
streamlit
pydantic
requests
pymongo
python-multipart
rdflib
openai>=1.0.0
replicate
python-dotenv
numpy<2.0.0
pandas
motor
sentence-transformers==2.2.2
transformers==4.28.1
huggingface-hub==0.13.4
httpx
streamlit-aggrid
sseclient-py
matplotlib
pyvis